# 2-推荐系统

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(context="notebook", style="white", palette=sns.color_palette("RdBu"))
import numpy as np
import pandas as pd
import scipy.io as sio

# load data and setting up

% Notes: X - num_movies (1682)  x num_features (10) matrix of movie features  
%        Theta - num_users (943)  x num_features (10) matrix of user features  
%        Y - num_movies x num_users matrix of user ratings of movies  
%        R - num_movies x num_users matrix, where R(i, j) = 1 if the  
%            i-th movie was rated by the j-th user

In [136]:
# Notes: X - num_movies (1682)  x num_features (10) matrix of movie features   电影数量*电影特征值
#        Theta - num_users (943)  x num_features (10) matrix of user features  用户数量*用户特征值
#        Y - num_movies x num_users matrix of user ratings of movies           电影数量*用户比分 用户j给电影i评分
#        R - num_movies x num_users matrix, where R(i, j) = 1 if the           电影数量*用户数  用户j给电影i评分了R(i,j)=1 
#            i-th movie was rated by the j-th user

In [137]:
movies_mat = sio.loadmat('./data/ex8_movies.mat')
Y, R = movies_mat.get('Y'), movies_mat.get('R')

Y.shape, R.shape

((1682, 943), (1682, 943))

In [138]:
Y[0][:10]  #用户对电影的评分情况

array([5, 4, 0, 0, 4, 4, 0, 0, 0, 4], dtype=uint8)

In [139]:
R[0][:10] #用户对i是否评分

array([1, 1, 0, 0, 1, 1, 0, 0, 0, 1], dtype=uint8)

<img style="float: left;" src="./rcmd_list.png">

In [140]:
m, u = Y.shape
# m: how many movies
# u: how many users

n = 10  # how many features for a movie

In [141]:
m

1682

In [142]:
param_mat = sio.loadmat('./data/ex8_movieParams.mat')
theta, X = param_mat.get('Theta'), param_mat.get('X')
# theta 用户的参数向量  X 电影的特征向量
theta.shape, X.shape

((943, 10), (1682, 10))

In [143]:
theta[0]

array([ 0.28544362, -1.68426509,  0.26293877, -0.28731731,  0.58572506,
        0.98018795, -0.06337453,  0.76723235, -1.10460164, -0.25186708])

In [144]:
X[0]

array([ 1.0486855 , -0.40023196,  1.19411945,  0.37112768,  0.40760718,
        0.97440691, -0.05841025,  0.861721  , -0.69728994,  0.28874563])

# cost
<img style="float: left;" src="./rcmd_cost.png">

In [145]:
def serialize(X, theta):
    """serialize 2 matrix
    """
    # X (movie, feature), (1682, 10): movie features
    # theta (user, feature), (943, 10): user preference
    return np.concatenate((X.ravel(), theta.ravel()))


def deserialize(param, n_movie, n_user, n_features):
    """into ndarray of X(1682, 10), theta(943, 10)"""
    return param[:n_movie * n_features].reshape(n_movie, n_features), \
           param[n_movie * n_features:].reshape(n_user, n_features)


# recommendation fn
def cost(param, Y, R, n_features):
    """compute cost for every r(i, j)=1
    Args:
        param: serialized X, theta
        Y (movie, user), (1682, 943): (movie, user) rating
        R (movie, user), (1682, 943): (movie, user) has rating
    """
    # theta (user, feature), (943, 10): user preference
    # X (movie, feature), (1682, 10): movie features
    n_movie, n_user = Y.shape
    X, theta = deserialize(param, n_movie, n_user, n_features)

    inner = np.multiply(X @ theta.T - Y, R)

    return np.power(inner, 2).sum() / 2


def gradient(param, Y, R, n_features):
    # theta (user, feature), (943, 10): user preference
    # X (movie, feature), (1682, 10): movie features
    n_movies, n_user = Y.shape
    X, theta = deserialize(param, n_movies, n_user, n_features)

    inner = np.multiply(X @ theta.T - Y, R)  # (1682, 943)

    # X_grad (1682, 10)
    X_grad = inner @ theta

    # theta_grad (943, 10)
    theta_grad = inner.T @ X

    # roll them together and return
    return serialize(X_grad, theta_grad)


def regularized_cost(param, Y, R, n_features, l=1):
    reg_term = np.power(param, 2).sum() * (l / 2)

    return cost(param, Y, R, n_features) + reg_term


def regularized_gradient(param, Y, R, n_features, l=1):
    grad = gradient(param, Y, R, n_features)
    reg_term = l * param

    return grad + reg_term

In [146]:
# use subset of data to calculate the cost as in pdf...
users = 4
movies = 5
features = 3

X_sub = X[:movies, :features]
theta_sub = theta[:users, :features]
Y_sub = Y[:movies, :users]
R_sub = R[:movies, :users]

param_sub = serialize(X_sub, theta_sub)
cost(param_sub, Y_sub, R_sub, features)

22.224603725685675

In [147]:
param = serialize(X, theta)  # total real params

cost(serialize(X, theta), Y, R, 10)  # this is real total cost

27918.64012454421

# gradient
<img style="float: left;" src="./rcmd_gradient.png">

In [148]:
n_movie, n_user = Y.shape

X_grad, theta_grad = deserialize(gradient(param, Y, R, 10),
                                      n_movie, n_user, 10)

<img style="float: left;" src="./rcmd_vectorized_grad.png">

In [149]:
assert X_grad.shape == X.shape
assert theta_grad.shape == theta.shape

# regularized cost

In [150]:
# in the ex8_confi.m, lambda = 1.5, and it's using sub data set
regularized_cost(param_sub, Y_sub, R_sub, features, l=1.5)

31.344056244274221

In [151]:
regularized_cost(param, Y, R, 10, l=1)  # total regularized cost

32520.682450229557

# regularized gradient

<img style="float: left;" src="./rcmd_reg_grad.png">

In [152]:
n_movie, n_user = Y.shape

X_grad, theta_grad = deserialize(regularized_gradient(param, Y, R, 10),
                                                                n_movie, n_user, 10)

assert X_grad.shape == X.shape
assert theta_grad.shape == theta.shape

# parse `movie_id.txt`

In [153]:
movie_list = []

with open('./data/movie_ids.txt', encoding='latin-1') as f:
    for line in f:
        tokens = line.strip().split(' ')
        movie_list.append(' '.join(tokens[1:]))

movie_list = np.array(movie_list)

In [154]:
movie_list[:10]

array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)',
       'Get Shorty (1995)', 'Copycat (1995)',
       'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
       'Twelve Monkeys (1995)', 'Babe (1995)', 'Dead Man Walking (1995)',
       'Richard III (1995)'],
      dtype='<U81')

In [171]:
movie_list.shape

(1682,)

# reproduce my ratings

In [172]:
ratings = np.zeros(1682)

ratings[0] = 4
ratings[6] = 3
ratings[11] = 5
ratings[53] = 4
ratings[63] = 5
ratings[65] = 3
ratings[68] = 5
ratings[97] = 2
ratings[182] = 4
ratings[225] = 5
ratings[354] = 5

In [174]:
ratings[:10]

array([ 4.,  0.,  0.,  0.,  0.,  0.,  3.,  0.,  0.,  0.])

# prepare data

In [176]:
Y, R = movies_mat.get('Y'), movies_mat.get('R')
Y.shape

(1682, 943)

In [177]:
Y[:2]

array([[5, 4, 0, ..., 5, 0, 0],
       [3, 0, 0, ..., 0, 0, 5]], dtype=uint8)

In [178]:
Y = np.insert(Y, 0, ratings, axis=1)  # now I become user 0
Y.shape

(1682, 944)

In [179]:
Y[:2]

array([[4, 5, 4, ..., 5, 0, 0],
       [0, 3, 0, ..., 0, 0, 5]], dtype=uint8)

In [180]:
R = np.insert(R, 0, ratings != 0, axis=1)
R.shape

(1682, 944)

In [183]:
R[:5]

array([[1, 1, 1, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=uint8)

In [184]:
n_features = 50
n_movie, n_user = Y.shape
l = 10

In [185]:
X = np.random.standard_normal((n_movie, n_features)) #生产一个浮点数或N维浮点数组，取数范围：标准正态分布随机样本
theta = np.random.standard_normal((n_user, n_features))

X.shape, theta.shape

((1682, 50), (944, 50))

In [186]:
param = serialize(X, theta)

In [193]:
param[:10]

array([-0.88887109, -0.7187982 , -1.38935419, -0.3831814 , -0.2629748 ,
       -1.20252632,  0.0031104 ,  1.07303651,  0.04317998,  0.54656995])

normalized ratings

In [195]:
Y_norm = Y - Y.mean()
Y_norm.mean()

4.6862111343939375e-17

# training

In [196]:
import scipy.optimize as opt

In [197]:
res = opt.minimize(fun=regularized_cost,
                   x0=param,
                   args=(Y_norm, R, n_features, l),
                   method='TNC',
                   jac=regularized_gradient)
#这里很慢

In [164]:
res

     fun: 64721.497815080882
     jac: array([  3.10249440e-06,  -1.46878235e-05,   8.28621694e-06, ...,
        -6.71537860e-07,   2.65140941e-07,  -5.77320089e-07])
 message: 'Converged (|f_n-f_(n-1)| ~= 0)'
    nfev: 2184
     nit: 70
  status: 1
 success: True
       x: array([-0.31150862,  1.00211585, -0.02805102, ...,  0.32190953,
        0.14935878,  0.36895573])

In [202]:
res.x.shape

(131300,)

In [199]:
X_trained, theta_trained = deserialize(res.x, n_movie, n_user, n_features)
X_trained.shape, theta_trained.shape

((1682, 50), (944, 50))

In [200]:
prediction = X_trained @ theta_trained.T

In [167]:
my_preds = prediction[:, 0] + Y.mean()

In [168]:
idx = np.argsort(my_preds)[::-1]  # Descending order
idx.shape

(1682,)

In [204]:
idx

array([ 312,   49,   63, ..., 1556, 1561, 1567])

In [205]:
# top ten idx
my_preds[idx][:10]

array([ 4.12535569,  4.04411502,  3.99323774,  3.91902569,  3.8168927 ,
        3.81555823,  3.76602095,  3.76321709,  3.7590337 ,  3.75079166])

In [206]:
for m in movie_list[idx][:10]:
    print(m)

Titanic (1997)
Star Wars (1977)
Shawshank Redemption, The (1994)
Forrest Gump (1994)
Raiders of the Lost Ark (1981)
Braveheart (1995)
Return of the Jedi (1983)
Usual Suspects, The (1995)
Godfather, The (1972)
Schindler's List (1993)